@charset "utf-8";
/* CSS Document */
a {
	color: burlywood;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: blueviolet;
	font-size: 20px
	
}
h3 {
	color: crimson;
	font-size: 30px;
	width: 800px;
	background-color: darkcyan;
	padding: 5px;
	
	
}
h5 {
	color: blue;
	font-size: 30px;
	width: 900px;
	background-color: burlywood
}
h7 {
	color: gold;
	background-color: mediumvioletred
}
h8 {
	color: greenyellow;
	background-color: blue
}
a {
	color: cornflowerblue;
	background-color: azure
}
h9 {
	color: blue
}

body {
	background-image:  url("slikepro/nice--1454990-19.jpg");
	padding: 300 px 200px;
	margin: 100px;
	background-color: red;
	background-size: contain
}





