@charset "utf-8";
/* CSS Document */
h9 {
	color: chartreuse;
	font-size: 30px;
	background: #D30F13;
}
h10 {
	color: #9109CD;
	background: #142FAD;
	font-size: 24px;
}
h21 {
	color: #541087;
	background: #00FC82;
	font-size: 24px
}
h11 {
	color: #070606;
	background: #059650;
	font-size: 24px
}
h12 {
	color: #2AA3DD;
	background: #F48881;
	font-size: 24px
}

h13 {
	color: #FD9191;
	background: #AC00ED;
	font-size: 24px
}
h14 {
	color: #1EB194;
	background: #0184FF;
	font-size: 24px
}
h15 {
	color: #541087;
	background: #00FC82;
	font-size: 24px
}
h16 {
	color: #AC6F70;
	background: #D0FF01;
	font-size: 24px
}
h17 {
	color: #278822;
	background: #4DC6F9;
	font-size: 24px
}
h18 {
	color: #5B5FA8;
	background: #0BF501;
	font-size: 24px
}
h19 {
	color: #920103;
	background: #BEE000;
	font-size: 24px
}

body {
	background-image: url("slikepro/drugapozadina.jpg");
	background-size: contain
	
}
h20 {
	color: #B70909;
	background: #38079F;
	font-size: 24px
}
a {
	color: #004EEC;
	background: #FFFFFF;
	font-size: 18px
}




























